@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
  color: #ffffff;
}

/* Скроллбар */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { bg: #111; }
::-webkit-scrollbar-thumb { bg: #333; border-radius: 4px; }

/* Утилиты для инпутов */
.input-field {
  @apply w-full bg-[#111] border border-[#333] text-white p-3 rounded-lg outline-none focus:border-blue-500 transition font-mono text-sm;
}
.btn-primary {
  @apply bg-blue-600 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded-lg transition active:scale-95;
}
.btn-danger {
  @apply bg-red-600/20 text-red-500 hover:bg-red-600 hover:text-white font-bold py-2 px-4 rounded-lg transition;
}
